<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
	xmlns:v="urn:schemas-microsoft-com:vml">
 
<body>
<table class="main-wrapper" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="main-wrapper__inner" valign="top">
				<table class="container bg-white" width="660" border="0" cellpadding="0" cellspacing="0"
					style="background-image: url(assets/images/dagli-email-template.png); background-repeat: no-repeat; background-size: cover;">
					<p>Someone just submitted your Contact Form on <a
							href="https://www.sourci-ed.com.au/">https://www.sourci-ed.com.au/</a>.</p>
					<p>Here's what they had to say:</p>
					<table style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
								border-collapse: collapse;
								width: 100%;">
						<tr>
							<th style="border: 1px solid #ddd;
											padding: 12px 8px;
											text-align: left;
											background-color: #E62323;
											color: white;">Name</th>
							<th style="border: 1px solid #ddd;
											padding: 12px 8px;
											text-align: left;
											background-color: #E62323;
											color: white;">Value</th>
						</tr>
						<tr>
							<td style="border: 1px solid #ddd;
											padding: 8px;"><strong>Name</strong></td>
							<td style="border: 1px solid #ddd;
											padding: 8px;">
								<pre style="margin: 0;white-space: pre-wrap">{{name}}</pre>
							</td>
						</tr>
						<tr>
							<td style="border: 1px solid #ddd;
											padding: 8px;"><strong>Company</strong></td>
							<td style="border: 1px solid #ddd;
											padding: 8px;">
								<pre style="margin: 0;white-space: pre-wrap">{{company}}</pre>
							</td>
						</tr>
						<tr>
							<td style="border: 1px solid #ddd;
											padding: 8px;"><strong>Email</strong></td>
							<td style="border: 1px solid #ddd;
											padding: 8px;">
								<pre style="margin: 0;white-space: pre-wrap">{{email}}</pre>
							</td>
						</tr>
						<tr>
							<td style="border: 1px solid #ddd;
										padding: 8px;"><strong>Phone Number</strong></td>
							<td style="border: 1px solid #ddd;
										padding: 8px;">
								<pre style="margin: 0;white-space: pre-wrap">{{phoneNumber}}</pre>
							</td>
						</tr>
						<tr>
							<td style="border: 1px solid #ddd;
									padding: 8px;"><strong>Message</strong></td>
							<td style="border: 1px solid #ddd;
									padding: 8px;">
								<pre style="margin: 0;white-space: pre-wrap">{{message}}</pre>
							</td>
						</tr>
					</table>
				</table><!-- /.container -->
			</td><!-- /.main-wrapper__inner -->
		</tr>
	</table><!-- /.main-wrapper -->
</body>

</html>